@keyframes halo {
    0%   { filter: drop-shadow(0 0 0.3rem white); }
    50%  { filter: drop-shadow(0 0 0.5rem white); }
    100% { filter: drop-shadow(0 0 0.3rem white); }
}

.clickable {
    animation: halo 1.5s ease-out infinite;
    cursor: pointer;
    position: absolute;
    -webkit-user-drag: none;
}

.clickable:hover {
    filter: drop-shadow(0 0 0.5rem white) brightness(110%);
    animation: none;
}

.clickable:active {
    filter: drop-shadow(0 0 0.5rem white) brightness(120%);
}
